@import "./../../assets/styles/global.scss";

.header {
    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 15px !important;

        &-settings {
            display: flex;
            gap: 20px;
            align-items: center;

            button {
                cursor: pointer;
            }

            input {
                background: $LBB;
                padding: 9px 20px;
                border-radius: 10px;
            }
        }
    }

    &__content {
        display: flex;
        gap: 50px;
        align-items: center;

        &-left {
            display: flex;
            flex-direction: column;
            box-shadow: $BS;
            padding: 20px;
            border-radius: 20px;
            position: relative;
            max-width: 400px;
            width: 100%;
            h1 {
                color: $LB;
                font-size: 96px;
                font-weight: 500;
            }

            h2 {
                color: rgb(0, 0, 0);
                font-size: 40px;
                margin-bottom: 31px;
            }

            span {
                color: rgb(147, 156, 176);
                font-size: 25px;
                margin-bottom: 14px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
            img {
                width: 119px;
                height: 199px;
                position: absolute;
                left: 65%;
                top: 0;
            }
        }
        &-right {
            border-radius: 20px;
            padding: 40px;
            box-shadow: $BS;
            background: rgb(255, 255, 255);
            max-width: 750px;
            width: 100%;
        }
        &-list {
            display: flex;
            flex-direction: column;
            row-gap: 9px;
            li {
                display: flex;
                align-items: center;
                column-gap: 30px;

                h3 {
                    color: rgb(147, 156, 176);
                    font-size: 14px;
                    font-weight: 400;
                }
                p {
                    color: rgb(0, 0, 0);
                    font-size: 14px;
                }
                &:nth-child(2) {
                    p {
                        margin-left: 20px;
                    }
                }
                &:nth-child(3) {
                    p {
                        margin-left: 37px;
                    }
                }
                &:nth-child(4) {
                    p {
                        margin-left: 47px;
                    }
                }
            }
        }
    }
}
